# Executables
*.exe
*.out
*.app
*.bat

#Files made from this project
*.pbm
*.ppm
*.pgm
*.txt

#vscode
.vscode/*
.vscode

#tests
main.cpp

#unfinished business
.PBM/*
.PBM
.PBM_multiple/*
.PBM_multiple
.PGM/*
.PGM

ImageType_converter